html{
    background-color: rgba(201, 245, 197, 0.2);
}
/*CSS grid with 3 columns for the 3 side-by-side divs*/
#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

#page-title{
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
    
}
#header-2{
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 300;
}

img {
    height: 350px;
    
}

.gallery-title {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
}

/* apply text-align center to figure tag to center the image in the div*/ 
figure {
    text-align: center;
}

figcaption{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
    font-size: .75em;
    font-style: italic;
}

h1, h3, figcaption {
    color: black;
}

.gallery-item {
    border: 1px solid;
    border-color: black;
    border-radius: 15px;
    padding: 5px;
}